---
layout: layoutPage.njk
localisationCSS : "formulaire"
---

<!-- formulaire -->



<div>
  <h1 class="titre_formulaire">Formulaire d'enregistrement</h1>
  <form action="" class="formulaire" onsubmit="sauvegardeFormulaire()">
    <div class="formulaire_tout">
      <input class="formulaire_nom"  required=true type="text" id="formulaireNom" placeholder="Votre nom complet">
      <input class="formulaire_Email" required=true type="email" id="formulaireEmail" placeholder="Email">
      <input class="formulaire_telephone" type="phone" id="formulaireTelephone" placeholder="Numéro de téléphone" value="+33" maxlength="12">
      <div id="diplomes-container"></div>
      <input class="formulaire_sujet" required=true type="text" id="formulaireSujet" placeholder="sujet du mail">
      <textarea cols="70" rown="6" style="height:100px;" class="formulaire_complémentaire" type="text" id="formulaireComplémentaire" placeholder="informations complémentaires"></textarea>
    </div>
    <button type="submit" class="formulaire_envoi">Envoi du formulaire</button>
  </form>

  

</div>

<script>

fetch(`http://localhost:1337/api/formulaire`)
  .then(response => {
    console.log('Réponse reçue:', response);
    return response.json();
  })
  .then(data => {
    console.log('Données reçues:', data);
    const diplomesPertinents = data.data.attributes.diplomes;
    const selectElement = document.createElement('select');
    selectElement.setAttribute("name", "choice");
    diplomesPertinents.forEach(diplome => {
      const optionElement = document.createElement('option');
      optionElement.value = diplome;
      optionElement.text = diplome;
      selectElement.appendChild(optionElement);
    });
    const diplomesContainer = document.getElementById('diplomes-container');
    diplomesContainer.appendChild(selectElement);
  })
  .catch(error => {
    console.error('Erreur:', error);
  });

</script>

<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
