---
layout: layoutPage.njk
localisationCSS : "Plan_batiment"
header_site_texte: "Photos du batiment FB"
permalink: "/Plan_batiment/Batiment_FB.html"

---

<div class="page_photo">
    <div class="container_photo">
        <div class="photo">
            <img class="imageEloi" src="Batiment_FB_1.jpg">
        </div>
        <div class="photo">
            <img class="imageEloi" src="Batiment_FB_2.jpg">
        </div>
        <div class="photo">
            <img class="imageEloi" src="Batiment_FB_3.jpg">
        </div>
        <div class="photo">
            <img class="imageEloi" src="Batiment_FB_4.jpg">
        </div>

    </div>



</div>