---
layout: layoutPage.njk
localisationCSS : "Plan_batiment"
header_site_texte: "Photos du batiment Central"
permalink: "/Plan_batiment/Batiment_Central.html"

---

<div class="page_photo">
    <div class="container_photo">
        <div class="photo">
            <img class="imageEloi" src="Batiment_Central_1.jpg">
        </div>
        <div class="photo">
            <img class="imageEloi" src="Batiment_Central_2.jpg">
        </div>
        <div class="photo">
            <img class="imageEloi" src="Batiment_Central_3.jpg">
        </div>
        <div class="photo">
            <img class="imageEloi" src="Batiment_Central_4.jpg">
        </div>

    </div>



</div>