---
layout: layoutPage.njk
localisationCSS : "Plan_batiment"
header_site_texte: "Photos du batiment Sud"
permalink: "/Plan_batiment/Batiment_Sud.html"

---

<div class="page_photo">
    <div class="container_photo">
        <div class="photo">
            <img class="imageEloi" src="Batiment_Sud_1.jpg">
        </div>
        <div class="photo">
            <img class="imageEloi" src="Batiment_Sud_2.jpg">
        </div>
        <div class="photo">
            <img class="imageEloi" src="Batiment_Sud_3.jpg">
        </div>
        <div class="photo">
            <img class="imageEloi" src="Batiment_Sud_4.jpg">
        </div>

    </div>



</div>