---
layout: layoutPage.njk
localisationCSS : "Plan_batiment"
header_site_texte: "Photos du batiment Nord"
permalink: "/Plan_batiment/Batiment_Nord.html"

---

<div class="page_photo">
    <div class="container_photo">
        <div class="photo">
            <img class="imageEloi" src="Batiment_Nord_1.jpg">
        </div>
        <div class="photo">
            <img class="imageEloi" src="Batiment_Nord_2.jpg">
        </div>
        <div class="photo">
            <img class="imageEloi" src="Batiment_Nord_3.jpg">
        </div>
        <div class="photo">
            <img class="imageEloi" src="Batiment_Nord_4.jpg">
        </div>

    </div>



</div>