---
layout: layoutPage.njk
localisationCSS : "Plan_batiment"
header_site_texte: "Le plan de l'école"

---


<body>
    <div class="page">

        <div class="image">
            <img class="imagesteloi" src="St eloi capture earth.png" alt="Image">
        </div>

        <div class="container">
            <div class ="title">Légende</div>
            <div class="legend">
                <div class="color-box" style="background-color: #FF0000;"></div>
                <span><a href="Internat.html">Internat</a></span>
              </div>
              <div class="legend">
                <div class="color-box" style="background-color: #FFA500;"></div>
                <span><a href="Batiment_Sud.html">Batiment Sud</a>  </span>
              </div>
              <div class="legend">
                <div class="color-box" style="background-color: #FFFF00;"></div>
                <span><a href="Batiment_Central.html">Batiment Central, Salles C</a>  </span>
              </div>
              <div class="legend">
                <div class="color-box" style="background-color: #00FF00;"></div>
                <span><a href="Batiment_FB.html">Batiment FB</a>  </span>
              </div>
              <div class="legend">
                <div class="color-box" style="background-color: #00A2E8;"></div>
                <span><a href="Batiment_Nord.html">Batiment Nord</a>  </span>
              </div>
              <div class="legend">
                <div class="color-box" style="background-color: #FFFFFF;"></div>
                <span><a href="Salle_Polyvalente.html">Salle polyvalente</a>  </span>
              </div>
          </div>


    </div>

</body>