---
layout: layoutPage.njk
localisationCSS : "Plan_batiment"
header_site_texte: "Photos de la salle polyvalente"
permalink: "/Plan_batiment/Salle_Polyvalente.html"

---

<div class="page_photo">
    <div class="container_photo">
        <div class="photo">
            <img class="imageEloi" src="Salle_polyvalente_1.jpg">
        </div>
        <div class="photo">
            <img class="imageEloi" src="Salle_polyvalente_2.jpg">
        </div>
    </div>



</div>