---
layout: layoutPage.njk
localisationCSS : "Calendrier_CSS"
header_site_texte: "Les évènements"
---

<body>

<!--
	<div class="container">
		<div class="block">
			<div class="title">Les dates de JPO</div><br/>
			<p>23 Mars 2023</p><br/>
			<p>15 Avril 2023</p><br/>
            <p>31 Avril 2023</p><br/>

		</div>

		<div class="block">
			<div class="title">Les Forums</div> <br/>
			<p>Forum 1 : lieu / date</p><br/>
			<p>Forum 2 : lieu / date</p><br/>
			<p>Forum 3 : lieu / date</p><br/>
			<p>Forum 4 : lieu / date</p><br/>
		</div>
			

		<div class="block">
			<div class="title">Autres évènements</div> <br/>
			<p>Évènement 1 : quoi / lieu / date</p><br/>
			<p>Évènement 2 : quoi / lieu / date</p><br/>
			<p>Évènement 3 : quoi / lieu / date</p><br/>
            </div>

		</div>
	</div>
-->

	<div class="container">
		<div id="texte_gauche" class="block">
			<div id="titre_gauche" class="title">Les dates de JPO</div>
		</div>

		<div id="texte_milieu" class="block">
			<div id="titre_milieu" class="title">Les Forums</div>
		</div>
			

		<div id="texte_droite" class="block">
			<div id="titre_droite" class="title">Autres évènements</div>
		</div>
	</div>


	<script> // chargement avec l'API strapi
fetch('http://localhost:1337/api/calendrier')
  .then(response => response.json())
  .then(data => {
    const datesContainer = document.getElementById('texte_gauche');
    const forumsContainer = document.getElementById('texte_milieu');
    const evenementsContainer = document.getElementById('texte_droite');
    const titreGauche = document.getElementById('titre_gauche');
    const titreMilieu = document.getElementById('titre_milieu');
    const titreDroite = document.getElementById('titre_droite');
      
    titreGauche.textContent = data.data.attributes.titre_gauche;
    titreMilieu.textContent = data.data.attributes.titre_milieu;
    titreDroite.textContent = data.data.attributes.titre_droite;
    data.data.attributes.elements_gauche.forEach(texte => {
      const texteElement = document.createElement('p');
      texteElement.textContent = texte;
      datesContainer.appendChild(texteElement);
    });
    data.data.attributes.elements_milieu.forEach(texte => {
      const texteElement = document.createElement('p');
      texteElement.textContent = texte;
      forumsContainer.appendChild(texteElement);
    });
    data.data.attributes.elements_droite.forEach(texte => {
      const texteElement = document.createElement('p');
      texteElement.textContent = texte;
      evenementsContainer.appendChild(texteElement);
    });
  })
  .catch(error => {
    console.error('Erreur:', error);
  });

</script>


</body>
