---
layout: layoutPage.njk
localisationCSS : "Erasmus_css"
header_site_texte : "Programme Erasmus"
---

<body>

  <div class="container">
    <div id="texte_gauche" class="block">
      <h2 id="titre_gauche" class="title"></h2>
    </div>
    <div id="texte_milieu" class="block">
      <h2 id="titre_milieu" class="title"></h2>
    </div>
    <div id="texte_droite" class="block">
      <h2 id="titre_droite" class="title"></h2>
    </div>
  </div>

  <script> // chargement avec l'API strapi
    fetch('http://localhost:1337/api/erasmus')
      .then(response => response.json())
      .then(data => {
        const datesContainer = document.getElementById('texte_gauche');
        const forumsContainer = document.getElementById('texte_milieu');
        const evenementsContainer = document.getElementById('texte_droite');
        const titreGauche = document.getElementById('titre_gauche');
        const titreMilieu = document.getElementById('titre_milieu');
        const titreDroite = document.getElementById('titre_droite');
          
        titreGauche.textContent = data.data.attributes.titre_gauche;
        titreMilieu.textContent = data.data.attributes.titre_milieu;
        titreDroite.textContent = data.data.attributes.titre_droite;
        data.data.attributes.texte_gauche.forEach(texte => {
          const texteElement = document.createElement('p');
          texteElement.textContent = texte;
          datesContainer.appendChild(texteElement);
        });
        data.data.attributes.texte_milieu.forEach(texte => {
          const texteElement = document.createElement('p');
          texteElement.textContent = texte;
          forumsContainer.appendChild(texteElement);
        });
        data.data.attributes.texte_droite.forEach(texte => {
          const texteElement = document.createElement('p');
          texteElement.textContent = texte;
          evenementsContainer.appendChild(texteElement);
        });
      })
      .catch(error => {
        console.error('Erreur:', error);
      });
  </script>

</body>
