---
layout: layoutPage.njk
localisationCSS : "Liste_Formation"
header_site_texte: "Les formations"
permalink: "/Formations/Bac pro SN alternance video.html"

---

<video width="100%" height="85%" controls>
    <source src="Video/Bac pro SN alternance.mp4" type="video/mp4">
</video>