---
permalink: "/CSS/Liste_Formation.css"
---
@import "/CSS/globalStyle.css";


body {
	/*background-color: #d4edff;*/
	margin: 0;
	padding: 0;
	height: 100vh;
}

.container {
	margin:auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
	max-width: 95%;
	padding: 20px;
	height: calc(88% - 84px);
}

.container .block {
	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
	background-color: #0c056b;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 20px;
	height: 92%;
	color: white;
}



.container .block a {
	font-weight: normal;
    text-decoration: none;
    margin-bottom: 10px;
	color: white;
	font-size: 30px;
	display: flex;
 	justify-content: center;
	align-items: center;
 	text-align: center;
 }

 .block .title{
	font-size: 45px;
	margin-bottom: 10px;
	font-weight: bold;
    text-decoration: underline;
	align-self:center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

 }

 .container2 {
	margin:auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
	max-width: 95%;
	padding: 20px;
	height: calc(88% - 84px);
}

.container2 .block {
	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
	background-color: #0c056b;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 20px;
	height: 92%;
	color: white;
}

.container2 .block a {
	font-weight: normal;
    text-decoration: none;
    margin-bottom: 10px;
	color: white;
	font-size: 30px;
	display: flex;
	justify-content: center;
   	align-items: center;
	text-align: center;
 }

 .container3 {
	margin:auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
	max-width: 95%;
	padding: 20px;
	height: calc(88% - 84px);
}

.container3 .block {
	display: flex;
	justify-content: center;
	align-items: center;
 	text-align: center;
	background-color: #0c056b;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 20px;
	height: 92%;
	color: white;
}

.container3 .block a {
	font-size: 70px;
	font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
	color: white;
 }