---
permalink: "/CSS/plan_batiment.css"
---
@import "/CSS/globalStyle.css";

.page{
    display: flex;
    height: 79vh;
}
.container {
    /*float: right;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-top:2%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0c056b;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    color: white;
    width :50%;
    height: 96%;
    margin-right:3%;
    margin-top : 2%;
  }

  
.legend {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .container .title {
	font-size: 70px;
	margin-bottom: 10px;
	align-self:center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
  text-decoration: underline;
  color: white;
  }
  
  .color-box {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .legend span a{
    font-size: 50px;
    font-weight: normal;
    text-decoration: none;
	  color: white;
  }

  .image {
    float: left;
    /*object-fit : cover;*/
    width: 100%;
    height: 100%;
    padding-top:2%;
    padding-left: 3%;
    display: flex;
    /*justify-content: center;*/
  }

  .imagesteloi{
    width:94%;
  }

.page_photo{
  display: flex;
  height: 60vh;
}

  .container_photo {
    margin:auto;
    display: flex;
    grid-gap: 15px;
    max-width: 100%;
    padding: 10px;
    height : 100%;
    width:100%;
  }


  .photo {
    width: 100%;
    height: 100%;
    padding-top:3%;
    display: flex;
  }

.imageEloi{
  width: 100%;
  height :120%;
  display: flex;
}

  