---
layout: layoutPage.njk
localisationCSS : "Liste_Formation"
header_site_texte: "Les formations"
permalink: "/Formations/Choix video_plaquette alternance.html"
---

<body>

<!--
	<div class="container3">
		<div class="block" onclick="location.href='Liste initiale.html'">
			<div class="catégories">
				<a href="#">Formations initiales</a>
			</div>	
		</div>
		
		<div class="block" onclick="location.href='Liste Alternance.html'">
			<div class="catégories">
				<a href="#">Formations en Alternance</a>
			</div>
		</div>
		
		</div>
-->

	<div class="container3">
		<div class="block" onclick="location.href='Liste plaquette Alternance.html'">
			<div class="catégories">
				<a id="texte_gauche" href="#">Plaquettes</a>
			</div>	
		</div>
		
		<div class="block" onclick="location.href='Liste video Alternance.html'">
			<div class="catégories">
				<a id="texte_droite" href="#">Vidéos de présentation</a>
			</div>
		</div>
		
		</div>

<script>
// Récupération des éléments HTML des liens
const lienGauche = document.getElementById("texte_gauche");
const lienDroite = document.getElementById("texte_droite");
// Récupération des données de l'API
fetch("http://localhost:1337/api/formation")
  .then(response => response.json())
  .then(data => {
    // Mise à jour du texte des liens avec les données de l'API
    lienGauche.textContent = data.data.attributes.texte_gauche;
    lienDroite.textContent = data.data.attributes.texte_droite;
  })
  .catch(error => console.error(error));
</script>
