---
layout: layoutPage.njk
localisationCSS : "Liste_Formation"
header_site_texte: "Les formations en Alternance"
permalink: "/Formations/Liste video Alternance.html"

---

<body>

<!--
	<div class="container2">

		<div class="block">
			<div class="title">Bac Professionel & CAP</div>
			<a href="Bac pro SN.html">SN - Systèmes numériques</a><br/>
		</div>
			

		<div class="block">
			<div class="title">Post Bac</div> 
			<a href="BTS CIEL.html">BTS CIEL - Cybersécurité, Informatique & Réseaux, Électronique</a><br/>
			<a href="MSCP.html">BTS MS - Maintenance des Systèmes</a><br/>
            <a href="BTS GPME.html">BTS GPME - Gestion de la PME</a>

		</div>
	</div>
-->
	<div class="container2">

		<div class="block">
			<div id="titre_gauche" class="title">Bac Professionel & CAP</div>
			<a id="gauche-1" href="Bac pro SN alternance video.html">SN - Systèmes numériques</a><br/>
		</div>
			

		<div class="block">
			<div id="titre_droite" class="title">Post Bac</div> 
			<a id="droite-1" href="BTS CIEL alternance video.html">BTS CIEL - Cybersécurité, Informatique & Réseaux, Électronique</a><br/>
			<a id="droite-2" href="BTS MS alternance video.html">BTS MS - Maintenance des Systèmes</a><br/>
            <a id="droite-3" href="BTS GPME alternance video.html">BTS GPME - Gestion de la PME</a>

		</div>
	</div>


		<script>
		// Récupération des données de l'API
		fetch('http://localhost:1337/api/formations-alternance')
			.then(response => response.json())
			.then(data => {
				// Mise à jour du titre et du lien gauche
				document.getElementById("titre_gauche").innerHTML = data.data.attributes.titre_gauche;
				document.getElementById("gauche-1").innerHTML = data.data.attributes.elements_gauche[0];
				
				// Mise à jour du titre et des liens droits
				document.getElementById("titre_droite").innerHTML = data.data.attributes.titre_droite;
				document.getElementById("droite-1").innerHTML = data.data.attributes.elements_droite[0];
				document.getElementById("droite-2").innerHTML = data.data.attributes.elements_droite[1];
				document.getElementById("droite-3").innerHTML = data.data.attributes.elements_droite[2];
			})
			.catch(error => console.error(error));
	</script>
</body>