---
layout: layoutPage.njk
localisationCSS : "Liste_Formation"
header_site_texte: "Les formations initiales"
permalink: "/Formations/Liste video initiale.html"

---

<body>

<!--
	<div class="container">
		<div class="block">
			<div class="title">Filières Générales et technologiques </div>
			<a href = "2nd Générale.html">Seconde Générale</a><br/>
			<a href = "Bac général.html">Bac Général</a><br/>
            <a href="STI2D.html">STI2D - Sciences et Technologies de l'Industrie et du Développement Durable</a>
		</div>

		<div class="block">
			<div class="title">Bac Professionel & CAP</div> 
			<a href="Bac pro SN.html">SN - Systèmes numériques</a><br/>
			<a href="MELEC.html">MELEC - Métier de l'Électricité et des Environnements Connectés</a><br/>
			<a href="MEI.html">MEI - Maintenance des Équipements Industriels</a><br/>
			<a href="CAP_Électricien.html">CAP Électricien</a>
		</div>
			

		<div class="block">
			<div class="title">Post Bac</div> 
			<a href="BTS CIEL.html">BTS CIEL - Cybersécurité, Informatique & Réseaux, Électronique</a><br/>
			<a href="MSCP.html">BTS MSCP - Maintenance des Systèmes de Production Connectés</a><br/>
			<a href="BTS GPME.html">BTS GPME - Gestion de la PME</a>
			<a href="BTS SAM.html">BTS SAM - Support à l'Action Managériale </a>
            <a href="ATS.html">ATS</a></div>
		</div>
	</div>
-->

<div class="container">
    <div class="block">
        <div id="titre_gauche" class="title"></div>
        <a id="gauche-1" href="2nd Générale video.html"></a><br/>
        <a id="gauche-2" href="Bac général video.html"></a><br/>
        <a id="gauche-3" href="STI2D video.html"></a>
    </div>

    <div class="block">
        <div id="titre_milieu" class="title"></div> 
        <a id="milieu-1" href="Bac pro SN video.html"></a><br/>
        <a id="milieu-2" href="MELEC video.html"></a><br/>
        <a id="milieu-3" href="MEI video.html"></a><br/>
        <a id="milieu-4" href="CAP_Électricien video.html"></a>
    </div>

    <div class="block">
        <div id="titre_droite" class="title"></div> 
        <a id="droite-1" href="BTS CIEL video.html"></a><br/>
        <a id="droite-2" href="MSCP video.html"></a><br/>
        <a id="droite-3" href="BTS GPME video.html"></a><br/>
        <a id="droite-4" href="BTS SAM video.html"></a><br/>
        <a id="droite-5" href="ATS video.html"></a>
    </div>
</div>

<script>
    fetch('http://localhost:1337/api/formation-initiale')
      .then(response => response.json())
      .then(data => {
        const {titre_gauche, elements_gauche, titre_milieu, elements_milieu, titre_droite, elements_droite} = data.data.attributes;
        document.getElementById('titre_gauche').innerHTML = titre_gauche;
        document.getElementById('titre_milieu').innerHTML = titre_milieu;
        document.getElementById('titre_droite').innerHTML = titre_droite;
        elements_gauche.forEach((element, index) => {
          document.getElementById(`gauche-${index + 1}`).innerHTML = element;
        });
        elements_milieu.forEach((element, index) => {
          document.getElementById(`milieu-${index + 1}`).innerHTML = element;
        });
        elements_droite.forEach((element, index) => {
          if (index === 3 && element !== null) {
            document.getElementById(`droite-${index + 1}`).innerHTML = element;
          } else if (index === 4 && element !== null) {
            document.getElementById(`droite-${index + 1}`).innerHTML = element;
          } else if (element !== null) {
            document.getElementById(`droite-${index + 1}`).innerHTML = element;
          }
        });
      })
      .catch(error => console.error(error));
</script>


</body>
